@import "tailwindcss";

:root {
  --background: #2D3436;
  --background-2: #d4d3d3;
  --foreground: #cababa;
  --foreground-2: #423e3e;
  --surface-contrast: rgba(255, 255, 255, 0.85);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-staatliches: var(--font-staatliches);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --background-2: #1a1a1a;
    --foreground: #ededed;
    --foreground-2: #b0b0b0;
    --surface-contrast: transparent;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.ui-bg-blur {
  backdrop-filter: blur(10px);
}

.ui-midtone {
  color: #E5E5E0;
}

.ui-fg-primary-2 {
  color: var(--foreground-2);
}

.ui-fg-primary {
  color: var(--foreground);
}

.ui-bg-primary {
  background: var(--background);
}

.ui-bg-secondary{
  background: var(--background-2);
}

.ui-bg-transparent-white {
  background: rgba(255, 255, 255, 0.85);
}

.ui-bg-contrast {
  background: var(--surface-contrast);
}

.ui-bg-transparent {
  background: rgba(0, 0, 0, 0.5);
}

.ui-leading-normal {
  line-height: 1.5;
}